[submodule "source/mods/DMS_Exile"]
	path = source/mods/DMS_Exile
	url = https://github.com/Defent/DMS_Exile.git
[submodule "source/mods/occupation"]
	path = source/mods/occupation
	url = https://github.com/kuplion/a3_exile_occupation.git
  branch = development
[submodule "source/mods/ExileZ-2"]
	path = source/mods/ExileZ-2
	url = https://github.com/patrix87/ExileZ-2.git
[submodule "source/mods/infiSTAR.de_EXILE"]
	path = source/mods/infiSTAR.de_EXILE
	url = D:/games/NeboLand_Projects/infiSTAR.de_EXILE
